body {
    margin: 0px;
    padding: 0px;
    background-color: #C3F8FF;
    position: relative;
    overflow: auto
}

div.wrapper1 {
    background-color: #C3F8FF;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 20vh;
    padding: 0px;
    float: left;
}

div.wrapper2 {
    background-color: #ABD9FF;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    margin: 0px;
    height: 40vh;
    float: left;

}

div.wrapper3 {
    background-color: #FFF6BF;
    margin: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 30vh;
    padding: 0px;
    text-align: justify;
    float: left;
    border-bottom: 5vh solid #FFEBAD;
}

div.footer {
    background-color: #FFEBAD;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 5vh;
    width: 100%;
    float: left;
    align-items: center;
    

}

.boxes {
    border: 3px;
    border-style: dashed;
    border-color: #FFF6BF;
    margin: 5%;
    padding: 4vh;
    text-align: center;
    float: left;
    
}

.doit {
    margin-left: 72vh;
}

